@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
::after,
::before {
    font-family: "Lobster", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #485a33;
    color: #d8b3a4;
    text-align: center;
    padding: 0 15px;
    letter-spacing: 2px;
}
h1 {
    text-transform: uppercase;
    margin: 15px 0;
}

img {
    object-fit: cover;
    background-position: center;
    border-radius: 25px;
    width: 90vw;
    height: 50vh;
    margin-top: 25px;
}
